.geolocation-map-wrapper .marker-content {
  min-width: 200px;
  text-align: center;
  font-family: Gilroy-ExtraBold, sans-serif;
}

.geolocation-map-wrapper .marker-content h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.geolocation-map-wrapper .marker-content button {
  width: 80%;
  font-size: 18px;
  background-color: #4285f4;
  color: #ffffff;
  padding: 9px;
  border-radius: 4px;
  border: none;
  margin-bottom: 5px;
}

.geolocation-map-wrapper {
  height: 100%;
  width: 100%;
}

.geolocation-map-wrapper .geolocation-map-container {
  height: 100% !important;
  width: 100% !important;
}
