@font-face {
  font-family: Gilroy-Regular;
  src: url('fonts/gilroy-regular.eot');
  src: url('fonts/gilroy-regular.eot#iefix') format('embedded-opentype');
  src: url('fonts/gilroy-regular.woff2') format('woff2');
  src: url('fonts/gilroy-regular.woff') format('woff');
  src: url('fonts/gilroy-regular.ttf') format('truetype');
}

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url('fonts/gilroy-extraBold.eot');
  src: url('fonts/gilroy-extraBold.eot#iefix') format('embedded-opentype');
  src: url('fonts/gilroy-extraBold.woff2') format('woff2');
  src: url('fonts/gilroy-extraBold.ttf') format('truetype');
}

body {
  color: #3e3e3e;
}

.form-route a#edit-back-to-overview {
  display: inline-block;
  font-size: 14px;
}

.form-route a#edit-back-to-overview:before {
  display: inline-block;
  content: ' ';
  background-image: url('../images/arrow-left-solid.svg');
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  .form-route #sidebar-wrapper {
    height: 100%;
  }

  .form-route #sidebar-wrapper .sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }
}

.form-route .route-info-header {
  padding: 20px 20px 0 20px;
}

.form-route .route-info-header h2 {
  font-size: 2em;
}

.form-route .route-header,
.form-route .sidebar-main,
.form-route .sidebar-footer {
  padding: 0 20px;
}

.form-route .route-header {
  padding-top: 0px;
}

.form-route .route-header .form-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.form-route .route-header .form-item label {
  width: 40%;
  font-size: 14px;
  margin-bottom: 0;
}

.form-route .route-header .form-item select {
  max-height: 100px;
  height: 100%;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.form-route .route-header .form-item input {
  height: 30px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.form-route .route-header .form-item .form-autocomplete,
.form-route .route-header .form-item .form-text {
  width: 60%;
  height: 30px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 600px) {
  .form-route .route-header .form-item label {
    width: 30%;
  }

  .form-route .route-header .form-item select {
    flex-basis: 70%;
  }

  .form-route .route-header .form-item .form-autocomplete,
  .form-route .route-header .form-item .form-text {
    width: 70%;
  }
}

.form-route .sidebar-main {
  background-color: #f5f5f2;
  height: 100%;
  overflow-y: scroll;
}

.form-route .sidebar-main legend {
  margin-bottom: 10px;
}

.form-route .sidebar-main .fieldset-legend {
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
}

.form-route .description {
  font-family: Gilroy, sans-serif;
}

.form-route .route-header .description {
  margin-top: 5px;
}

.form-route .sidebar-main .point {
  margin: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.form-route .sidebar-main .point .music-add-wrapper {
  text-align: center;
}

.form-route .sidebar-main .point .music-add-wrapper .music-title {
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

.form-route .sidebar-main .point .beacon-title {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  word-wrap: break-word;
}

.form-route .sidebar-main .point .audio-wrapper {
  display: inline-block;
  width: 100%;
  margin: 0 10px;
  text-align: center;
}

.form-route .sidebar-main .point .remove-button {
  line-height: 45px;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  min-width: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #e34848;
  border: none;
  margin: 0;
}

.form-route .sidebar-footer {
  padding: 20px;
  margin-top: auto;
}

.form-route .sidebar-footer .button {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #4285f4;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
}

.form-route .sidebar-add-point {
  display: none;
}

.form-route .page-content {
  margin: 0;
}

.form-route .layout-container {
  margin: 0;
}

.form-route .route-form {
  display: flex;
  flex-direction: column;
}

.form-route .route-form .geolocation-map-wrapper {
  order: -1;
}

@media screen and (max-width: 600px) {
  .form-route .route-form .geolocation-map-wrapper {
    height: 400px !important;
  }
}

@media screen and (min-width: 600px) {
  .form-route .route-form {
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 39px);
  }

  .toolbar-tray-open .route-form {
    height: calc(100vh - 78px);
  }

  .form-route .route-form .geolocation-map-wrapper {
    order: 2;
  }

  .form-route .messages {
    position: fixed;
    z-index: 999999;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    font-size: 20px;
  }
}
